node_modules
.DS_Store
.vscode
.env
.env.local
.env.development.local
.env.test.local
build/
/vendor/
!vendor-prefixed/
giftflow.zip
.design-drafts/*
!.design-drafts/.gitkeep
!.design-drafts/DESIGN.md