.giftflow-thank-donor {
	text-align: center;
}

.giftflow-thank-donor__icon {
	color: var(--wp--preset--color--vivid-green-cyan, #00ba37);
	margin-bottom: 1.5rem;
}

.giftflow-thank-donor__heading {
	margin: 0 0 1rem;
}

.giftflow-thank-donor__message {
	margin-bottom: 1.5rem;
	color: var(--wp--preset--color--contrast, #333);
	line-height: 1.6;
}

.giftflow-thank-donor__message p {
	margin: 0 0 0.5rem;
}

.giftflow-thank-donor__notice {
	margin-bottom: 1.5rem;
	text-decoration: underline;
	text-underline-offset: .3rem;
}

.giftflow-thank-donor__notice p {
	margin: 0;
}

.giftflow-thank-donor__action {
	margin-top: 1.5rem;
}

.giftflow-thank-donor__btn {
	display: inline-block;
	padding: 0.75rem 2rem;
	background: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--base);
	border-radius: 30px;
	text-decoration: none;
	/* font-weight: 600; */
	transition: 0.2s ease, transform 0.2s ease;
}

.giftflow-thank-donor__btn:hover {
	opacity: 0.9;
	transform: translateY(-1px);
	text-decoration: none;

	background-color: var(--wp--preset--color--secondary);
	color: var(--wp--preset--color--base);
}
