.giftflowwp-donation-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5rem;
    background: #fdfdfd;
    border-radius: 1px;
    border: 1px solid #e5e7eb;

    .giftflowwp-currency-formatted-amount {
      font-weight: 600;
    }

    label {
      // font-weight: 600;
      // color: #374151;
      font-size: 0.9em;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    input[type="number"],
    input[type="text"],
    input[type="email"],
    select,
    textarea {
        box-sizing: border-box;
        background: white;
        border: 1px solid #e5e7eb;
        border-radius: 1px;
        width: 100%;
        padding: 0.7em;
        font-size: .95em;
        transition: all 0.2s ease;
        color: black;

        &:focus {
            outline: none;
            border-color: black;
        }

        // placeholder color
        &::placeholder {
          color: black;
        }

        &:focus {
          + .giftflowwp-donation-form-input-description {
            background: black;
            color: white;
          }
        }
    }

    textarea {
      min-height: 120px;
      resize: vertical;
      line-height: 1.5;
    }

    &-input-description {
      background: #e5e7eb;
      color: black;
      padding: 0.7em;
      margin: 0;
      line-height: normal;
      font-weight: 400;
      font-size: .7em;
      transition: all 0.2s ease;
        
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &-header {
        display: flex;
        gap: 2rem;
        margin-bottom: 2.5rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(229, 231, 235, 0.5);

        &-left {
            flex: 0 0 140px;

            img {
                width: 100%;
                height: auto;
                border-radius: 1px;
                object-fit: cover;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
            }
        }

        &-right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                margin: 0 0 0.75rem;
                font-size: 1.5rem;
                font-weight: 600;
                // color: #111827;
                line-height: 1.3;
            }

            p {
                margin: 0;
                // color: #6b7280;
                // font-size: 0.95rem;
                line-height: 1.5;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &-input-amount {
        padding: 1.5em;
        background: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 1px;

        
    }

    &-preset-amounts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
        margin-top: 1rem;

        button {
            border: 1px solid #e5e7eb;
            border-radius: 1px;
            padding: 0.95em 1em;
            font-size: 0.8rem;
            font-weight: normal;
            cursor: pointer;
            transition: all 0.2s ease; 
            background: transparent;

            .giftflowwp-currency-formatted-amount {
                font-weight: normal;
            }

            &:hover {
                background: black;
                color: white;
            }
            
        }
    }

    &-input-amount-input-wrapper {
      position: relative;

      input[type="number"] {
        padding-left: 2em;
      }

      .__currency-symbol {
        position: absolute;
        left: .7em;
        top: 9px;
        font-size: .95em;
      }
    }

    &-user-info-first-name-last-name {
        display: flex;
        gap: 1.5rem;

        > div {
            flex: 1;
        }
    }

    &-user-info {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &-anonymous {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            margin-top: 0.5rem;

            input[type="checkbox"] {
                width: 1.25rem;
                height: 1.25rem;
                border-radius: 1px;
                border: 1.5px solid #e5e7eb;
                cursor: pointer;
                transition: all 0.2s ease;

                &:checked {
                    background-color: #3b82f6;
                    border-color: #3b82f6;
                }
            }

            label {
                margin: 0;
                cursor: pointer;
            }
        }
    }

    &-submit {
        width: 100%;
        padding: 1.25rem;
        background: black;
        color: white;
        border: none;
        border-radius: 1px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
        // margin-top: 1rem;

        &:hover {
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(0);
        }

        &:disabled {
            background: #9ca3af;
            cursor: not-allowed;
            transform: none;
            box-shadow: none;
        }
    }

    &-step {
        display: none;
        opacity: 0;
        transition: opacity 0.3s ease;

        &.active {
            display: block;
            opacity: 1;
        }
    }

    &-payment-methods {
        h3 {
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    &-payment-method {
        margin-bottom: 1rem;

        input[type="radio"] {
            display: none;

            + label {
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                border: 1px solid #e5e7eb;
                border-radius: 1px;
                cursor: pointer;
                transition: all 0.2s ease;

                img {
                    height: 24px;
                    width: auto;
                }

                &:hover {
                    border-color: black;
                }
            }

            &:checked + label {
                border-color: black;
                background: black;
                color: white;
            }
        }
    }

    &-stripe-payment {
        margin-top: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 1px solid #e5e7eb;
        border-radius: 1px;

        #card-element {
            padding: 0.7em;
            border: 1px solid #e5e7eb;
            border-radius: 1px;
        }

        #card-errors {
            color: #dc2626;
            font-size: 0.9em;
            margin-top: 0.5rem;
        }
    }

    &-step-buttons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        button {
            flex: 1;
            padding: 1.25rem;
            border: none;
            border-radius: 1px;
            font-size: 1.1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.2s ease;

            &.giftflowwp-donation-form-prev-step {
                background: #f3f4f6;
                color: black;


                &:hover {
                    transform: translateY(-1px);
                    background: #e5e7eb;
                }
        
                &:active {
                    transform: translateY(0);
                }
            }

            &.giftflowwp-donation-form-submit {
                background: black;
                color: white;

                &:hover {
                    transform: translateY(-1px);
                }

                &:active {
                    transform: translateY(0);
                }

                &:disabled {
                    background: #9ca3af;
                    cursor: not-allowed;
                    transform: none;
                    box-shadow: none;
                }
            }
        }
    }

    &-next-step {
        width: 100%;
        padding: 1.25rem;
        background: black;
        color: white;
        border: none;
        border-radius: 1px;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease;
        margin-top: 1rem;

        &:hover {
            transform: translateY(-1px);
        }

        &:active {
            transform: translateY(0);
        }

        &:disabled {
            background: #9ca3af;
            cursor: not-allowed;
            transform: none;
            box-shadow: none;
        }
    }

    &-steps-nav {
        display: flex;
        // grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        margin-bottom: 2em;
        // gap: 1rem;
        // margin-bottom: 2rem;
        // padding-bottom: 1rem;
        // border-bottom: 1px solid #e5e7eb;
    }

    &-step-nav-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        // padding: 0.5rem 1rem;
        border-radius: 1px;
        cursor: pointer;
        transition: all 0.2s ease;

        &.active {
            // background: black;
            // color: white;

            .giftflowwp-donation-form-step-nav-number {
                background: black;
                color: white;
            }
        }
    }

    &-steps-nav-separator {
        flex: 1 1 0;
        height: 1px;
        background: #e5e7eb;
    }

    &-step-nav-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #f4f4f5;
        color: black;
        font-size: 0.8em;
        font-weight: normal;
    }

    &-step-nav-title {
        font-size: 0.9em;
        font-weight: 500;
    }

    &-recurring-options {
        // style grid 2 columns
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-bottom: 1em;
    }

    &-recurring-option {
        input[type="radio"] {
            display: none;

            + label {
                display: flex;
                flex-direction: column;
                gap: 0rem;
                padding: 1rem;
                border: 1px solid #e5e7eb;
                border-radius: 1px;
                cursor: pointer;
                transition: all 0.2s ease;

                &:hover {
                    border-color: black;
                }
            }

            &:checked + label {
                border-color: black;
                background: black;
                color: white;
            }
        }
    }

    &-recurring-option-title {
        font-weight: 500;
        font-size: 0.95em;
        display: flex;
        align-items: center;
        gap: 0.3em;
    }

    &-recurring-option-description {
        font-size: 0.8em;
        color: #939393;
    }

    &-summary {
        margin-bottom: 1em;
        padding: 1.5em;
        background: #ffffff;
        border: 1px solid #e5e7eb;
        border-radius: 1px;
        font-size: .9em;

        h4 {
            margin: 0 0 1rem;
            font-size: 1em;
            font-weight: 600;
        }
    }

    &-summary-content {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    &-summary-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
        border-bottom: 1px solid #e5e7eb;

        &:last-child {
            border-bottom: none;
        }
    }

    &-summary-label {
        font-size: 0.9em;
        color: #6b7280;
        text-wrap: nowrap;
    }

    &-summary-value {
        font-weight: 500;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 70%;
    }
}
