.giftflow_page_giftflow-settings {
  // padding-right: 2em;
  .wrap {
    margin: 20px 0;

    h2.nav-tab-wrapper {
      border-bottom: none;
    }

    .giftflow-field {
      grid-template-columns: 50% 50%;

      &-accordion {
        grid-template-columns: 100%;
      }

      @media (max-width: 768px) {
        grid-template-columns: 100%;
      }
    }
  }

  h1 {
    // font-size: 24px;
    margin-bottom: 20px;
    // color: #23282d;
  }

  .nav-tab-wrapper {
    margin-bottom: 20px;
    // border-bottom: 1px solid #ccc;
    border-bottom: none;
    
    .nav-tab {
      margin-left: 0;
      margin-right: 5px;
      padding: 8px 20px;
      font-size: 14px;
      line-height: 1.71428571;
      font-weight: 600;
      background: #f1f1f1;
      color: #555;
      text-decoration: none;
      white-space: nowrap;
      border: 1px solid #ccc;
      border-bottom: none;
      
      &:hover {
        background-color: #fff;
        color: #444;
      }
      
      &.nav-tab-active {
        background: #fff;
        color: #000;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
      }
    }
  }

  form {
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    
    h2 {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
    
    p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
    
    .form-table {
      margin-top: 0;
      
      th {
        padding: 15px 10px 15px 0;
        width: 200px;
        font-weight: 600;
      }
      
      td {
        padding: 15px 10px;
        
        input[type="text"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        input[type="number"],
        textarea,
        select {
          // width: 400px;
          max-width: 100%;
        }
        
        textarea {
          min-height: 100px;
        }
        
        .description {
          color: #666;
          font-style: italic;
          margin-top: 5px;
          display: block;
        }
      }
    }
    
    .submit {
      margin-top: 20px;
      padding-top: 15px;
      border-top: 1px solid #eee;
    }
  }
}
